<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Eventures</title>
    <link rel="stylesheet" type="text/css" href="~/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="eventures-bg-color">
                <nav class="navbar side-margin navbar-expand-lg text-bold">
                    <a class="navbar-brand nav-link-white" href="/">Eventures</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <ul class="navbar-nav right-side">
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-white" asp-controller="" asp-action="">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-white" asp-controller="Events" asp-action="All">All Events</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-white" asp-controller="Events" asp-action="Create">Create Event</a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav left-side">
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-white">Hello, @User.Identity.Name!</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-white" asp-area="Identity" asp-controller="Account" asp-action="Logout">Logout</a>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="navbar-nav right-side">
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-white" asp-controller="" asp-action="">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-white" asp-controller="Events" asp-action="All">All Events</a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav left-side">
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-white">Hello, @User.Identity.Name!</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-white" asp-area="Identity" asp-controller="Account" asp-action="Logout">Logout</a>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="navbar-nav right-side">
                                <li class="nav-item">
                                    <a class="nav-link nav-link-white" asp-controller="Home">Home</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav left-side">
                                <li class="nav-item">
                                    <a class="nav-link nav-link-white" asp-area="Identity" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-white" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                            </ul>
                        }
                    </div>
                </nav>
            </div>
        </header>
        <div class="side-margin">
            @RenderBody()
        </div>
        <footer class="side-margin">
            <div class="container-fluid eventures-bg-color">
                <div class="text-black p-2 text-center">
                    &copy; CopyRight Eventures Inc. 2018-2018. All rights reserved.
                </div>
            </div>
        </footer>
        @*<script src="/lib/jquery/dist/jquery.min.js"></script>*@
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    </div>
</body>
</html>     